---
layout: default
title: "CloudContinuous | Referral Program"
description: "Join our referral program and earn $500 for every successful referral! Share your unique referral link with friends, family, and colleagues. Help them discover our products/services and earn rewards. Start referring today!"
---

{% include referral.html %}
{% include unlimited_opportunites.html %}

<section id="form" class="contact-info-area pt-130 pb-130">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 order-2 order-lg-1">
                <div class="contact-thumb mt-30">
                    <img src="assets/images/raqui_cc.jpg" alt="">
                    <div class="contact-text">
                        <h3 class="title">Join the<br>Referral<br>Program</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-6">
                        <div class="footer-info mt-80">
                            <i class="fal fa-envelope-open"></i>
                            <h5 class="title">Email Us</h5>
                            <span>referral@cloudcontinuous.com</span>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-6">
                        <div class="footer-info mt-80">
                            <i class="fal fa-phone"></i>
                            <h5 class="title">Contact Us</h5>
                            <span>+1 (312) 248 7619</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 order-1 order-lg-2">
                <div class="contact-massage-area mt-30 pl-70">
                    <div class="contact-massage-content">
                        <h3 class="title">Fill the form and start the referral</h3>
                        <p></p>
                    </div>
                    <form autocomplete="false" role="form" method="post" action="https://mautic.fiott.org/form/submit?formId=4" id="mauticform_referralcloud_message" data-mautic-form="referralcloud" enctype="multipart/form-data">  
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-box mt-20">
                                    <input type="text" name="mauticform[full_name]" id="mauticform_input_referralcloud_full_name" placeholder="Your Name" class="mauticform-input">
                                    <i class="far fa-user"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-box mt-20">
                                    <input type="email" name="mauticform[email]" id="mauticform_input_referralcloud_email" placeholder="Your Best Email" class="mauticform-input">
                                    <i class="far fa-envelope"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-box mt-20">
                                    <input type="tel" name="mauticform[phone]" value="" id="mauticform_input_referralcloud_phone" placeholder="Phone" class="mauticform-input">
                                    <i class="far fa-phone"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-box mt-20">
                                    <input type="text" name="mauticform[company]" value="" id="mauticform_input_referralcloud_company" placeholder="Company" class="mauticform-input">
                                    <i class="far fa-building"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-box mt-20">
                                    <select name="mauticform[budget]" value="" id="mauticform_input_referralcloud_budget" placeholder="Choose Industry" class="mauticform-selectbox">
                                        <option value="">Choose Industry</option>    <option value="Energy">Energy</option>      <option value="Manufacturing">Manufacturing</option>      <option value="Health">Health</option>      <option value="Consulting">Consulting</option>      <option value="Technology">Technology</option>      <option value="Retail">Retail</option>      <option value="Insurance">Insurance</option>      <option value="Finance">Finance</option>      <option value="Hospitality">Hospitality</option>      <option value="Transport">Transport</option>      <option value="Media">Media</option>      <option value="Education">Education</option>      <option value="Other">Other</option>  
                                      </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-box mt-20">
                                    <div class="g-recaptcha" data-sitekey="6Lf--78ZAAAAAOaDA190QFlqxFzWFpY8K2wmpkvO"></div>
                                    <span class="mauticform-errormsg" style="display:none;"></span>
                                    <br>
                                    <button class="main-btn" type="submit" name="mauticform[submit]" value="1" id="mauticform_input_referralcloud_submit">Refer Now</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="mauticform[formId]" id="mauticform_referralcloud_id" value="4">
                        <input type="hidden" name="mauticform[return]" id="mauticform_referralcloud_return" value="">
                        <input type="hidden" name="mauticform[formName]" id="mauticform_referralcloud_name" value="referralcloud">
                    </form>
                    <p class="form-message"></p>
                </div>
            </div>
        </div>
    </div>
</section>
