---
layout: default
header_image: "/assets/images/banner-spg.jpeg"
title: "CloudContinuous | Thank You Page"
description: "Thank You for Booking a Call with us, checkout some of our reviews to learn more before the call"
---


<!-- {% include page_header.html %} -->

<!--====== CONTACT INFO PART START ======-->

<section class="contact-info-area pt-130 pb-130">
    <div class="container">
        <div class="requst-content text-center">
            <h2 class="title" style="padding: 20px; color: black;">THANKS FOR BOOKING YOUR CALL!</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 col-sm-8">
                <div class="contact-info-border">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="contact-info-item text-center">
                                <i class="fa-solid fa-1">1</i>
                                <ul>
                                    <li>Our team is excited</li>
                                    <li>to meet you.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="contact-info-item text-center active">
                                <i class="fa-solid fa-2">2</i>
                                <ul>
                                    <li>On this call, we will learn more</li>
                                    <li>about you and your goals</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="contact-info-item text-center">
                                <i class="fa-solid fa-3">3</i>
                                <ul>
                                    <li>If you are unable to turn up for the call</li>
                                    <li>please reschedule in advance</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="contact-info-item text-center">
                                <i class="fa-solid fa-4">4</i>
                                <ul>
                                    <li>While you’re here</li>
                                    <li>check out these success stories</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<section class="category-area">
    <div class="newaletter-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="category-thumb bg_cover" style="background-image: url(assets/images/preview-screen-video.png);">
                    <div class="play-overlay">
                        <a class="video-popup" href="{{ page.video_link | default:'https://www.youtube.com/watch?v=defaultVideoID' }}"><i class="far fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section> 
{% include clients.html %}
{% include testimonal_2.html %}
<!--====== CONTACT INFO PART ENDS ======-->
<!--====== CONTACT MAP PART START ======-->

<!-- <div class="contact-map-area">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14452.479065412084!2d55.153620239050426!3d25.097806843078903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6b6915f1434d%3A0x316198ea6ee3651e!2sAl%20SufouhDubai%20Internet%20City%20-%20Dubai!5e0!3m2!1sen!2sae!4v1610114928595!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen=""></iframe>
                    <i class="fal fa-map-marker-alt"></i>
                </div>
            </div>
        </div>
    </div>
</div>  -->
<!--====== CONTACT MAP PART ENDS ======-->

