    <!--====== ABOUT PART START ======-->

    <section class="about-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <iframe src="https://www.videoask.com/fejkgl2ns" loading="lazy" title="VideoAsk" allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;" style="border: none; border-radius: 24px; width: 100%; height: 528px;">
                        </iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title"><span>Build Your Project With our Matto<span></span></span></h3>
                        <span>Do better by doing different</span>
                        <p style="color: black;">We take pride in resolving issues that most customers have encountered other agencies, We are here to do Different, To do Better.</p>
                        <ul>
                            <li><a class="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cloudcontinuous'});return false;">Get in Touch</a></li>
                            <li><a class="" href="/contact.html">Contact Us <i class="fal fa-long-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->