    <!--====== ABOUT PART START ======-->

    <section class="about-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="{{relative_url}}/assets/images/person-illustration.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title">Devops Solutions <span>Done <span>Right</span></span></h3>
                        <span>Culture, Collaboration, Continuous Improvement</span>
                        <p>Why Devops Culture is important within your Company and how will effect your busniess or even your clients. Learn more how can you improve collaboration between your Company</p>
                        <ul>
                            <li><a class="main-btn" href="#consultation">Reach Out</a></li>
                            <li><a class="" href="#consultation">learn More <i class="fal fa-long-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->