    <!--====== ABOUT PART START ======-->

    <section class="about-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <!-- <iframe src="https://www.videoask.com/fejkgl2ns" loading="lazy" title="VideoAsk" allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;" style="border: none; border-radius: 24px; width: 100%; height: 528px;">
                        </iframe> -->

                        <div style="position: relative; padding-bottom: 57.87781350482315%; height: 0;"><iframe src="https://www.loom.com/embed/36632d6fe7f940a4869522f0926ede62?sid=80a14337-806f-41c1-8f5a-26c598f95f7d" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title"><span>Using AI in Retail<span></span></span></h3>
                        <span>AI Personal Shopping Assistant</span>
                        <p style="color: black;">
                            AI technology can transform retail by enabling hands-free shopping experiences. Customers can navigate e-commerce platforms, search for products, and place orders using voice commands, while AI analyzes interactions to personalize future recommendations. This technology enhances accessibility, streamlines operations, and creates a more engaging and efficient retail experience.</p>
                        <ul>
                            <li><a class="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cloudcontinuous'});return false;">Get in Touch</a></li>
                            <li><a class="" href="/contact.html">Contact Us <i class="fal fa-long-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->