
  <!--====== CATEGORY PART START ======-->
   
  <section class="category-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="category-thumb bg_cover" style="background-image: url(assets/images/cat-1.jpg);">
                    <div class="play-overlay">
                        <a class="video-popup" href=""><i class="far fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="category-misson text-center d-flex align-items-center justify-content-center">
                    <div class="misson-item">
                        <img src="assets/images/mission-item.png" alt="mission">
                        <h4 class="title">know About Company <br> Mission & Vision</h4>
                        <p>We have great passion on serving other businesses,<br>helping on solving some of the crucial issues <br>when it comes engineering and development</p>
                        <a class="main-btn" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="category-goals bg_cover d-flex align-items-center justify-content-center" style="background-image: url(assets/images/goals-bg.jpg);">
                    <div class="goals-item text-center">
                        <img src="assets/images/goals-item.png" alt="">
                        <h4 class="title">What We Do For Your <br>Business Goals</h4>
                        <p>As a company we greatly believe on building <br>a solution that can independently exist and scale to<br> provide uninterrupted value to their consumers</p>
                        <a class="main-btn" href="#">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

<!--====== CATEGORY PART ENDS ======-->