<!--====== BRAND PART START ======-->

    <div class="brand-area pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title"><span>Clients we have<span> Served</span></span></h2>
                        <p>We have worked with quite vast of clientele within industries such as Insurance, Fintech, Marketing, iGaming and Blockchain.</p>
                    </div>
                </div>
            </div>
            <div class="row brand-active">
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/client-01.jpeg" alt="zurich">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/client-02.jpg" alt="tcs">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/pixaera.png" alt="pixaera">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/Catena-Logo.jpg" alt="catenamedia">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/themeparx.jpg" alt="themeparx">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/redacre.jpg" alt="redacre">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== BRAND PART ENDS ======-->