<!--====== BRAND PART START ======-->

    <div id="clients" class="brand-area pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <br/> 
                              
            </div>
          
            <div class="col-lg-6">
                <h4 class="title">Trusted by some of the world's top brands</h4> 
                <p style="color: black;">We've had the privilege of working with some of the most recognized brands, and I now bring that same dedication and expertise to help my clients succeed.</p> 
            </div>
            <br/> 
            <br/> 
            <div class="row brand-active">
              
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/wolt.png" alt="wolt">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/client-01.jpeg" alt="zurich">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/client-02.jpg" alt="tcs">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/pixaera.png" alt="pixaera">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/Catena-Logo.jpg" alt="catenamedia">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/themeparx.jpg" alt="themeparx">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brand-item text-center">
                        <img src="{{relative_url}}/assets/images/redacre.jpg" alt="redacre">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== BRAND PART ENDS ======-->