<!--====== PROJECT PART START ======-->
<section class="project-case-area project-home pt-100">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="title">Our <span>Consulting & Engineering <span>Expertise</span></span></h2>
					<p>Ceritfied and Authorized to Provide the Following Services</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="card-deck">
				<div class="card">
					<img class="card-img-top" src="{{relative_url}}/assets/images/hashicorp.jpeg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">HashiCorp Consulting</h5>
						<p class="card-text">Infrastructure empowered by code</p>
					</div>
					<div class="card-footer"><a href="#">View Details <i class="fal fa-arrow-right"></i></a></div>
				</div>
				<div class="card">
					<img class="card-img-top" src="{{relative_url}}/assets/images/aws.jpeg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">AWS Consulting</h5>
						<p class="card-text">Providing Efficiency with Cost and Service using AWS</p>
					</div>
					<div class="card-footer"><a href="#">View Details <i class="fal fa-arrow-right"></i></a></div>
				</div>
				<div class="card">
					<img class="card-img-top" src="{{relative_url}}/assets/images/pipeline.jpeg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Pipeline Continuous Consulting</h5>
						<p class="card-text">Continuous Integration & Delivery Processes</p>
					</div>
					<div class="card-footer"><a href="#">View Details <i class="fal fa-arrow-right"></i></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====== PROJECT PART START ======-->