<!--====== PROJECT PART START ======-->
<section class="project-case-area project-home pt-100">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="title">Our <span>Consulting & Engineering <span>Expertise</span></span></h2>
					<p>Ceritfied and Authorized to Provide the Following Services</p>
				</div>
			</div>
		</div>
		<section class="features section__bottom-light">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-sm-6 col-md-5 col-xl-3 features__item">
						<a class="feature js-feature-tilt" href="/estimate" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
							<ul class="feature__list">
								<li class="feature__list-item">
									<strong>Web</strong>
									<br> (Backend / Frontend)
								</li>
								<li class="feature__list-item">
									<strong>Desktop</strong>
									<br> (Windows / Mac)
								</li>
								<li class="feature__list-item">
									<strong>Mobile</strong>
									<br> (iOS / Android)
								</li>
								<li class="feature__list-item">
									<strong>Hybrid Apps</strong>
								</li>
								<li class="feature__list-item">
									<strong>Games</strong>
								</li>
							</ul>
							<h3 class="feature__name">Software</h3>
							<div class="feature__icon">
								<img src="{{relative_url}}assets/images/features/software.svg" alt="Software">
							</div>
							<div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
								<div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-5 col-xl-3 features__item">
						<a class="feature js-feature-tilt" href="/estimate" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
							<ul class="feature__list">
								<li class="feature__list-item">
									<strong>
										Rapid
										<br> prototyping
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>
										Product
										<br> Design
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>UX/UI</strong>
								</li>
								<li class="feature__list-item">
									<strong>MVP</strong>
								</li>
							</ul>
							<h3 class="feature__name">Design</h3>
							<div class="feature__icon">
								<img src="{{relative_url}}assets/images/features/design.svg" alt="Design">
							</div>
							<div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
								<div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-5 col-xl-3 features__item">
						<a class="feature js-feature-tilt" href="/estimate">
							<ul class="feature__list">
								<li class="feature__list-item">
									<strong>Business</strong>
									<br> process automation
								</li>
								<li class="feature__list-item">
									<strong>Robotic</strong>
									<br> process automation (RPA)
								</li>
								<li class="feature__list-item">
									<strong>IT</strong>
									<br> process automation
								</li>
							</ul>
							<h3 class="feature__name">Automation</h3>
							<div class="feature__icon">
								<img src="{{relative_url}}assets/images/features/automation.svg" alt="Automation">
							</div>
							<div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
								<div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-5 col-xl-3 features__item">
						<a class="feature js-feature-tilt" href="/estimate">
							<ul class="feature__list">
								<li class="feature__list-item">
									<strong>Embedded Systems</strong>
								</li>
								<li class="feature__list-item">
									<strong>Machine Learning </strong>
								</li>
								<li class="feature__list-item">
									<strong>
										Image and Signal
										<br> processing
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>Internet of Things</strong>
									<br> (IoT)
								</li>
								<li class="feature__list-item">
									<strong>Mixed Reality</strong>
									<br> (MR), (VR), (AR)
								</li>
							</ul>
							<h3 class="feature__name">Solutions</h3>
							<div class="feature__icon">
								<img src="{{relative_url}}assets/images/features/solutions.svg" alt="Solutions">
							</div>
							<div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
								<div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-sm-6 col-md-5 col-xl-3 features__item">
						<a class="feature js-feature-tilt" href="/estimate">
							<ul class="feature__list">
								<li class="feature__list-item">
									<strong>
										Developing
										<br> virtual or cloud
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>
										High-availability
										<br> architectures
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>
										Maintaining
										<br> your environment
									</strong>
								</li>
							</ul>
							<h3 class="feature__name">
								Servers Infrastructure Management
							</h3>
							<div class="feature__icon">
								<img src="{{relative_url}}assets/images/features/servers.svg" alt="Servers Infrastructure Management">
							</div>
							<div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
								<div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-5 col-xl-3 features__item">
						<a class="feature js-feature-tilt" href="/estimate" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
							<ul class="feature__list">
								<li class="feature__list-item">
									<strong>
										Penetration
										<br> tests
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>Audits</strong>
								</li>
								<li class="feature__list-item">
									<strong>
										Code
										<br> security
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>
										Vulnerability
										<br> assessment
									</strong>
								</li>
							</ul>
							<h3 class="feature__name">Security</h3>
							<div class="feature__icon">
								<img src="{{relative_url}}assets/images/features/security.svg" alt="Security">
							</div>
							<div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
								<div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-5 col-xl-3 features__item">
						<a class="feature js-feature-tilt" href="/estimate">
							<ul class="feature__list">
								<li class="feature__list-item">
									<strong>
										Data
										<br> mining
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>
										Data
										<br> Scraping
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>
										Big
										<br> Data
									</strong>
								</li>
							</ul>
							<h3 class="feature__name">
								Data Processing
							</h3>
							<div class="feature__icon">
								<img src="{{relative_url}}assets/images/features/data.svg" alt="Data Processing">
							</div>
							<div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
								<div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-5 col-xl-3 features__item">
						<a class="feature js-feature-tilt" href="/estimate">
							<ul class="feature__list">
								<li class="feature__list-item">
									<strong>
										Functionality
										<br> Testing
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>
										Compatibility
										<br> Testing
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>
										Website
										<br> Testing
									</strong>
								</li>
								<li class="feature__list-item">
									<strong>
										Mobile Device
										<br> Testing
									</strong>
								</li>
							</ul>
							<h3 class="feature__name">QA</h3>
							<div class="feature__icon">
								<img src="{{relative_url}}assets/images/features/qa.svg" alt="QA">
							</div>
							<div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
								<div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
<!--====== PROJECT PART START ======-->