<!--====== BANNER PART START ======-->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<section class="banner-area">
<div class="banner-bg">
    <video preload="auto" aria-hidden="true" class="home-hero__video home-hero__video--bg" autoplay="" loop="" muted="" playsinline="" poster="" data-bg-video-player="">
        <source type="video/webm" src="../assets/video/cloudcontinuous-home.mp4">
        <source src="../assets/video/cloudcontinuous-home.mp4" type="video/mp4">
      </video>
    <div class="container">
        <!-- <div class="row"> -->
            <div class="col-lg-12 col-md-9">
                <div class="banner-content">
                    <h1 class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1s">Your Data<br> <span>Holds <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,51,255,1) 0%, rgba(152,51,255,0.3743872549019608) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">Power</mark></span></h1>
                    <span class="subtitle wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.5s">We help you use it to make Better Decisions & Intelligently Scale Your Business</span>
                    <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2s">Most companies underestimate the value of the data they can collect. We have a proven process that helps our clients DEFINE their Data Strategy, BUILD Scalable Technology & LEVERAGE Data-Driven Insights so they can innovate and scale with certainty.</p>
                    <ul class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2.6s" style="padding-top: 20px;">
                        <li><a class="main-btn" href="https://start.cloudcontinuous.com">View System</a></li>
                        <li><a class="main-btn main-btn-2" onclick="Calendly.initPopupWidget({url: 'https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV'});return false;">Book a Discovery Call </a></li>
                    </ul>
                    <br/>
                    <img class="wow fadeInLeft" src="assets/images/capterra-review-badge.png" alt="capterra" style="height: 60px;">
                    <img class="wow fadeInLeft" src="assets/images/Hyperview-4.7-Stars-Badge.png" alt="capterra" style="height: 60px;"> 
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>
<div class="banner-shape-1">
</div>
<div class="banner-shape-2">
    <img src="{{relative_url}}/assets/images/banner-shape-1.png" alt="">
</div>
<div class="banner-shape-3">
    <img src="{{relative_url}}/assets/images/banner-shape-2.png" alt="">
</div>
</section>

<!--====== BANNER PART ENDS ======-->