<!--====== BANNER PART START ======-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
    // Function to check if the device is mobile
    function isMobileScreen() {
      return window.innerWidth <= 768;
    }

    // If the device is mobile, change the video source
    if (isMobileScreen()) {
      const videoSourceWebM = document.getElementById('video-source-webm');
      const videoSourceMP4 = document.getElementById('video-source-mp4');

      // Update the src attributes for mobile-optimized videos
      videoSourceWebM.src = '../assets/video/cc-home-mobile.mp4';
      videoSourceMP4.src = '../assets/video/cc-home-mobile.mp4';

      // Reload the video element to apply the new sources
      const videoElement = videoSourceWebM.parentElement;
      videoElement.load();
    }
  });
    document.addEventListener("DOMContentLoaded", function() {
    // Mapping of `h` values to predetermined titles and subtitles
    const heroContent = {
      '1': {
        title: 'Your Data<br> <span>Holds <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,51,255,1) 0%, rgba(152,51,255,0.3743872549019608) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">Power</mark></span>',
        subtitle: 'We help you use it',
        para: "No business should have to struggle to scale,<br> We've built a system that helps you make decisions driven by data."
      },
      '2': {
        title: 'Have the<br> <span> <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,51,255,1) 0%, rgba(152,51,255,0.3743872549019608) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">Insights</mark></span>',
        subtitle: 'That impacts your business',
        para: "No business should have to struggle to scale,<br> We've built a system that help you develop impactful insights"
      },
      '3': {
        title: 'Stop making<br> <span>Blind Decisions</span>',
        subtitle: 'Have the data that scales your business',
        para: "No business should have to struggle like this,<br> We've built a system that helps you develop impactful decisions"
      },
    };

    // Get the URL query string
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    // Get the 'h' parameter
    const heroKey = urlParams.get('h');

    // If 'h' parameter exists and is valid, update the hero title and subtitle
    if (heroKey && heroContent[heroKey]) {
      document.getElementById('hero-title').innerHTML = heroContent[heroKey].title;
      document.getElementById('hero-subtitle').innerHTML = heroContent[heroKey].subtitle;
    }
  });
  </script>
<section class="banner-area">
<div class="banner-bg">
    <video loading="lazy" preload="auto" aria-hidden="true" class="home-hero__video home-hero__video--bg" autoplay="" loop="" muted="" playsinline="" poster="../assets/video/cc-home-mobile.jpg" data-bg-video-player="">
        <source id="video-source-webm" type="video/webm" src="../assets/video/cloudcontinuous-home.mp4">
        <source id="video-source-mp4" src="../assets/video/cloudcontinuous-home.mp4" type="video/mp4">
      </video>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="banner-content">Your Data<br> <span>Holds <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,51,255,1) 0%, rgba(152,51,255,0.3743872549019608) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">Power</mark></span></h1>
                    <h1 id="hero-title" class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1s">
                    <span id="hero-subtitle" class="subtitle wow" data-wow-duration="1.2s" data-wow-delay="1.5s">We help you use it</span>
                    <p id="hero-para" class="wow" style="font-size: 16px; font-weight: 400;" data-wow-duration="1.2s" data-wow-delay="2s">From zero-downtime migrations to real-time analytics, CloudContinuous engineers the cloud foundations and data pipelines that turn raw bytes into business value.</p> 
                    <ul class="wow" data-wow-duration="1.2s" data-wow-delay="2.6s" style="padding-top: 20px;">
                        <!-- <li><a class="video-popup main-btn" href="">1. Watch Video</a></li> -->
                        <li><a class="main-btn" href="/#model">View System</a></li>
                        <li><a class="main-btn main-btn-2" href="/retention-roi-calculator">Watch Video</a></li>
                    </ul>
                    <!-- <img class="wow hero_review_tag" src="assets/images/capterra-review-badge.png" alt="capterra" style="height: 60px;">
                    <img class="wo hero_review_tag" src="assets/images/Hyperview-4.7-Stars-Badge.png" alt="g2" style="height: 60px;"> 
                    <br/> -->
                    <img src="/assets/images/trusted-by.png" width="456" height="56" style="margin-top: 20px; border: 1px solid white;" />
                </div>
            </div>   
            <div class="col-lg-5 col-md-5">
                <div class="category-thumb">
                    <div class="play-overlay">
                        <a class="video-popup" href="https://player.vimeo.com/video/1056167071"><i class="far fa-play"></i></a>
                    </div>
                </div> 
            </div>    
        </div>
    </div>
</div>
  <!-- <div class="banner-shape-1">
</div> -->
<div class="banner-shape-2">
    <img src="{{relative_url}}/assets/images/banner-shape-1.png" alt="">
</div>
<div class="banner-shape-3">
    <img src="{{relative_url}}/assets/images/banner-shape-2.png" alt="">
</div>
</section>

<!--====== BANNER PART ENDS ======-->