    <!--====== ABOUT PART START ======-->
      <!-- <iframe src="https://www.videoask.com/fejkgl2ns" loading="lazy" title="VideoAsk" allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;" style="border: none; border-radius: 24px; width: 100%; height: 528px;">
                        </iframe> -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const currentDate = new Date();
            const currentMonth = currentDate.toLocaleString('default', { month: 'long' });
            const slotsAvailable = 2;
            const month = document.getElementById('month');
            if (month) {
                month.textContent = `${slotsAvailable} spots available this ${currentMonth}`;
            } else {
                console.error('Element with id "month" not found.');
            }
        });
    </script>


    
    <section id="model" class="about-area pt-90 pb-90" style="background-color: #000000;">
        <div class="container">
            <div class="row justify-content-center pb-30">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <span style="color: #ffffff;"">How it Works</span>
                        <h3 class="title" style="color: #ffffff;">Our System That Creates Revenue</h3>
                        <!-- <p>A Three step process to reach your <br> SCALEABLE TECH</p> -->
                        <!-- <li><a class="main-btn" href="https://start.cloudcontinuous.com">View our System</a></li> -->
                        </dev>
                    </div>
                </div>
            </div>
            <div class="row align-items-center px-40" style="border: 1px solid #ffffff; border-radius: 5px; padding: 40px;">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                    <video loading="lazy" preload="auto" aria-hidden="true" class="home-hero__video home-hero__video--bg" autoplay="" loop="" muted="" playsinline="" style="max-width: 100%; height: auto; border: 1px solid #ffffff;">
                        <source id="video-source-webm" type="video/webm" src="../assets/video/use-phone-comp.mp4">
                        <source id="video-source-mp4" src="/assets/video/use-phone-comp.mp4" type="video/mp4">
                    </video>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <span style="color: #ffffff; padding-bottom: 10px;"><mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(182,113,255,1) 0%, rgba(182,113,255,0.3267682072829131) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">Step 1</mark></span>
                        <h4 class="subtitle" style="color: #ffffff;">Build a Digital Experience</h4>
                        <p style="margin-top: 5px; padding-top: 10px;">
                            We'll build a digital product such as Mobile apps, loyalty portals, or customer tools that get used, not just downloaded, Specifically designed to form habits from the first use.</p>
                            <div class="mt-35" style="border: 1px solid #ffffff; border-radius: 5px; padding: 30px;">
                                <img src="/assets/images/raqui_cc.jpg" alt="raqui" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 15px;">
                                <span style="color: #ffffff;">“They built our digital experience seamlessly — no stress, no delays. It just worked.” — Head of Marketing, HK Cosmetics

                                </span>
                            </div> 
                            <ul>
                                <li><a class="main-btn-2 main-btn" href="/book-a-call">Book a Call </a></li>
                                
                                <!-- <li><a href="https://start.cloudcontinuous.com" style="display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid #ffffff; padding: 0 38px; font-size: 15px; text-transform: capitalize; font-weight: 600; line-height: 55px; border-radius: 5px; color: #fff; cursor: pointer; z-index: 5; transition: all 0.4s ease-out 0s; background-color: #000000; position: relative;" onmouseover="this.style.color='#000';this.style.backgroundColor='#fff';this.style.borderColor='#000';" onmouseout="this.style.color='#fff';this.style.backgroundColor='#000';this.style.borderColor='#fff';">View System<i class="fal fa-long-arrow-right" style="padding-left: 6px;"></i></a></li> -->
                                
                            </ul>
                            <!-- <span id="month" style="color: red;"></span> -->
                        <!-- <iframe src="https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV" style="width: 100%;border:none;overflow: hidden;" scrolling="no" id="spfDg8KL3l2J6ZbKaBBV_1731600715639"></iframe><br><script src="https://link.msgsndr.com/js/form_embed.js" type="text/javascript"></script> -->
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-40 px-40" style="border: 1px solid #ffffff; border-radius: 5px; padding: 40px;">
                <div class="col-lg-6">
                    <div class="about-content">
                        <span style="color: #ffffff; padding-bottom: 10px;"><mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(182,113,255,1) 0%, rgba(182,113,255,0.3267682072829131) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">Step 2</mark></span>
                        <h4 class="subtitle" style="color: #ffffff;">Collect and Segment Data</h4>
                        <p style="margin-top: 5px; padding-top: 10px;">
                            Gather customer data from all channels and organize it into smart segments. Understand who your customers are, what they need, and when to reach them—so every message feels personal and timely.</p>
                            <div class="mt-35" style="border: 1px solid #ffffff; border-radius: 5px; padding: 30px;">
                                <img src="/assets/images/1666516417656.jpeg" alt="pixaera" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 15px;">
                                <span style="color: #ffffff;">"We finally understood our customers. The segments made it crystal clear who was ready to buy again—and who needed a win-back. Sales went up within weeks." — CEO, Pixaera
                                </span>
                            </div> 
                            <ul>
                                <li><a class="main-btn-2 main-btn" href="/book-a-call">Book a Call </a></li>
                                <!-- <li><a href="https://start.cloudcontinuous.com" style="display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid #ffffff; padding: 0 38px; font-size: 15px; text-transform: capitalize; font-weight: 600; line-height: 55px; border-radius: 5px; color: #fff; cursor: pointer; z-index: 5; transition: all 0.4s ease-out 0s; background-color: #000000; position: relative;" onmouseover="this.style.color='#000';this.style.backgroundColor='#fff';this.style.borderColor='#000';" onmouseout="this.style.color='#fff';this.style.backgroundColor='#000';this.style.borderColor='#fff';">View System<i class="fal fa-long-arrow-right" style="padding-left: 6px;"></i></a></li> -->
                                
                            </ul>
                        <!-- <iframe src="https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV" style="width: 100%;border:none;overflow: hidden;" scrolling="no" id="spfDg8KL3l2J6ZbKaBBV_1731600715639"></iframe><br><script src="https://link.msgsndr.com/js/form_embed.js" type="text/javascript"></script> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <video loading="lazy" preload="auto" aria-hidden="true" class="home-hero__video home-hero__video--bg" autoplay="" loop="" muted="" playsinline="" poster="../assets/video/cc-home-mobile.jpg" data-bg-video-player="" style="max-width: 100%; height: auto; border: 1px solid #ffffff;">
                            <source id="video-source-webm" type="video/webm" src="../assets/video/use-data.mp4">
                            <source id="video-source-mp4" src="../assets/video/use-data.mp4" type="video/mp4">
                          </video>
                    <!-- <img src="/assets/images/cc-signiture-4.png" alt=""> -->
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-40 px-40" style="border: 1px solid #ffffff; border-radius: 5px; padding: 40px;">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="/assets/images/push-notific.png" alt="Push Notification" style="max-width: 100%; height: auto; border: 1px solid #ffffff;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <span style="color: #ffffff; padding-bottom: 10px;"><mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(182,113,255,1) 0%, rgba(182,113,255,0.3267682072829131) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">Step 3</mark></span>
                        <h4 class="subtitle" style="color: #ffffff;">Personalize and Communicate Effectively</h4>
                        <p style="margin-top: 5px; padding-top: 10px;">
                            Send the right message to the right customer at the right time. Use personalized push notifications, and in-app messages to stay relevant—whether it’s a birthday surprise, a cart reminder, or a product they love back in stock..</p>
                            <div class="mt-35" style="border: 1px solid #ffffff; border-radius: 5px; padding: 30px;">
                                <img src="/assets/images/1672496836961.jpeg" alt="tlbg" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 15px;">
                                <span style="color: #ffffff;">“The push notifications felt like magic. Customers were actually replying, buying again, and thanking us for the reminders. It didn’t feel like marketing—it felt personal.” — Founder, The LandBanking Group
                                </span>
                            </div> 
                            <ul>
                                <li><a class="main-btn-2 main-btn" href="/book-a-call">Book a Call </a></li>
                                
                                <!-- <li><a href="https://start.cloudcontinuous.com" style="display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid #ffffff; padding: 0 38px; font-size: 15px; text-transform: capitalize; font-weight: 600; line-height: 55px; border-radius: 5px; color: #fff; cursor: pointer; z-index: 5; transition: all 0.4s ease-out 0s; background-color: #000000; position: relative;" onmouseover="this.style.color='#000';this.style.backgroundColor='#fff';this.style.borderColor='#000';" onmouseout="this.style.color='#fff';this.style.backgroundColor='#000';this.style.borderColor='#fff';">View System<i class="fal fa-long-arrow-right" style="padding-left: 6px;"></i></a></li> -->
                                
                            </ul>
                            <!-- <span id="month" style="color: red;"></span> -->
                        <!-- <iframe src="https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV" style="width: 100%;border:none;overflow: hidden;" scrolling="no" id="spfDg8KL3l2J6ZbKaBBV_1731600715639"></iframe><br><script src="https://link.msgsndr.com/js/form_embed.js" type="text/javascript"></script> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->