    <!--====== FEATURES PART START ======-->
        <section class="features-area pb-130 bg_cover" style="background-image: url({{relative_url}}/assets/images/banner-bg.png);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title">Our <span>Consulting & Engineering <span>Expertise</span></span></h2>
                        <p>Ceritfied and Authorized to Provide the Following Services</p>
                    </div>
                </div>
            </div>
            <section class="features section__bottom-light">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-md-5 col-xl-3 features__item">
                            <a class="feature js-feature-tilt" href="/contact.html" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                                <ul class="feature__list">
                                    <li class="feature__list-item">
                                        <strong>Frontend</strong>
                                        <br>React / React-Native / Flutter
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>Backend</strong>
                                        <br>Rust / Nodejs / Python
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>Mobile</strong>
                                        <br> iOS / Android
                                    </li>
                                </ul>
                                <h3 class="feature__name">Web and Mobile Development</h3>
                                <div class="feature__icon">
                                    <img src="{{relative_url}}assets/images/working-line-square.png" alt="Software">
                                </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
                                    <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-5 col-xl-3 features__item">
                            <a class="feature js-feature-tilt" href="/contact.html">
                                <ul class="feature__list">
                                    <li class="feature__list-item">
                                        <strong>Software Business Process</strong>
                                        <br> Improved automation 
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>Reduce Friction</strong>
                                        <br> Decrease resource inefficiency    
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>Cost Optimization</strong>
                                        <br> Reduce and justify cost
                                    </li>
                                </ul>
                                <h3 class="feature__name">Business Automation</h3>
                                <div class="feature__icon">
                                    <img src="{{relative_url}}assets/images/working-line-square.png" alt="Automation">
                                </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
                                    <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-5 col-xl-3 features__item">
                            <a class="feature js-feature-tilt" href="/contact.html">
                                <ul class="feature__list">
                                    <li class="feature__list-item">
                                        <strong>Data Warehouse</strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>Data Pipeline</strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>Scaled storage</strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>Data transformation</strong>
                                    </li>
                                </ul>
                                <h3 class="feature__name">Big Data</h3>
                                <div class="feature__icon">
                                    <img src="{{relative_url}}assets/images/working-line-square.png" alt="data">
                                </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
                                    <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-md-5 col-xl-3 features__item">
                            <a class="feature js-feature-tilt" href="/contact.html">
                                <ul class="feature__list">
                                    <li class="feature__list-item">
                                        <strong>
                                            Cloud Resource Management
                                        </strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>
                                            Highily Scalable
                                        </strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>
                                            Cost efficient
                                        </strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>Cloud Ready</strong>
                                        <br>solutions
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>
                                            Global reach
                                        </strong>
                                    </li>
                                </ul>
                                <h3 class="feature__name">
                                    Cloud Infrastructure
                                </h3>
                                <div class="feature__icon">
                                    <img src="{{relative_url}}assets/images/working-line-square.png" alt="Cloud Infrastructure Management">
                                </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
                                    <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-5 col-xl-3 features__item">
                            <a class="feature js-feature-tilt" href="/contact.html" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                                <ul class="feature__list">
                                    <li class="feature__list-item">
                                        <strong>
                                            Cloud infrastructure <br> audit
                                        </strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>Code scan audit</strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>
                                            Isolation
                                        </strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>
                                            Vulnerability
                                            <br> assessment
                                        </strong>
                                    </li>
                                </ul>
                                <h3 class="feature__name">Security & Audit</h3>
                                <div class="feature__icon">
                                    <img src="{{relative_url}}assets/images/working-line-square.png" alt="Security">
                                </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
                                    <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-5 col-xl-3 features__item">
                            <a class="feature js-feature-tilt" href="/contact.html">
                                <ul class="feature__list">
                                    <li class="feature__list-item">
                                        <strong>
                                            Monitor <br> infrastructure
                                        </strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>
                                            Security
                                            <br> Vulnerability
                                        </strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>
                                            Track
                                            <br> Growth
                                        </strong>
                                    </li>
                                </ul>
                                <h3 class="feature__name">
                                    Track & Monitor
                                </h3>
                                <div class="feature__icon">
                                    <img src="{{relative_url}}assets/images/working-line-square.png" alt="monitor">
                                </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
                                    <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-5 col-xl-3 features__item">
                            <a class="feature js-feature-tilt" href="/contact.html">
                                <ul class="feature__list">
                                    <li class="feature__list-item">
                                        <strong>
                                            Functional Sprints
                                        </strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>
                                            Agile Contribution
                                        </strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>
                                            Sprint Planning
                                        </strong>
                                    </li>
                                    <li class="feature__list-item">
                                        <strong>
                                            Project Leading
                                        </strong>
                                    </li>
                                </ul>
                                <h3 class="feature__name">Agile teams</h3>
                                <div class="feature__icon">
                                    <img src="{{relative_url}}assets/images/working-line-square.png" alt="agile">
                                </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;">
                                    <div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 570px; height: 570px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!--====== FEATURES PART ENDS ======-->