    <!--====== ABOUT PART START ======-->

    <section id="model" class="about-area pt-90 pb-90" style="background-color: #000000;">
        <div id="model" class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <!-- <iframe src="https://www.videoask.com/fejkgl2ns" loading="lazy" title="VideoAsk" allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;" style="border: none; border-radius: 24px; width: 100%; height: 528px;">
                        </iframe> -->
                        
                        <div style="position: relative; overflow: hidden;">
                            <img src="assets/images/full-sig.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title" style="color: #ffffff;"><span> <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,138,198,1) 0%, rgba(84,138,198,0.304359243697479) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">DEFINE</mark></span> Data Strategy</h3>
                        <span style="color: rgb(255, 255, 255);">DDD Framework, Customer Insights, Architecture Plan</span>
                        <p style="color: rgb(255, 255, 255);">
                            This pillar sets the foundation for a data-driven business. The Data-Driven Decision (DDD) Framework provides a structured approach to making informed choices based on facts, not assumptions. Customer Insights uncover patterns in behavior, helping you enhance retention and personalization. The Architecture Plan ensures your data systems are designed for scalability, security, and seamless integration, enabling long-term success.</p>
                        <!-- <ul>
                            <li><a href="https://start.cloudcontinuous.com" style="display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid #ffffff; padding: 0 38px; font-size: 15px; text-transform: capitalize; font-weight: 600; line-height: 55px; border-radius: 5px; color: #fff; cursor: pointer; z-index: 5; transition: all 0.4s ease-out 0s; background-color: #000000; position: relative;" onmouseover="this.style.color='#000';this.style.backgroundColor='#fff';this.style.borderColor='#000';" onmouseout="this.style.color='#fff';this.style.backgroundColor='#000';this.style.borderColor='#fff';">View System<i class="fal fa-long-arrow-right" style="padding-left: 6px;"></i></a></li>
                            
                        </ul>                    -->
                    </div>
                    <div class="about-content pt-200">
                        <h3 class="title" style="color: #ffffff;"><span> <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(182,113,255,1) 0%, rgba(182,113,255,0.3267682072829131) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">BUILD</mark></span> Scalable Technology</h3>
                        <span style="color: rgb(255, 255, 255);">Data Warehousing & BI analytics, Loyalty & retention Development, Data Operations & Automation
                        </span>
                        <p style="color: rgb(255, 255, 255);">
                            This pillar ensures your business has a strong foundation for managing and utilizing data effectively. With Data Warehousing & BI Analytics, you gain a centralized, structured view of your data for better decision-making. Loyalty & Retention Development helps create personalized programs that drive customer engagement and long-term value. Data Operations & Automation streamline processes, reducing manual effort and enabling real-time insights, ensuring your data infrastructure is both scalable and efficient.</p>
                    </div>
                    <div class="about-content pt-130">
                        <h3 class="title" style="color: #ffffff;"><span> <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(125,160,75,1) 0%, rgba(125,160,75,0.33237044817927175) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">LEVERAGE</mark></span> Data-Driven Insights</h3>
                        <span style="color: rgb(255, 255, 255);">AI systems, Advanced analytics, Security and Compliance</span>
                        <p style="color: rgb(255, 255, 255);">
                            This pillar focuses on transforming data into actionable business strategies. By leveraging AI Systems for predictive modeling, Advanced Analytics for deep customer insights, and Security & Compliance to ensure data integrity, businesses can make smarter decisions, personalize customer experiences, and drive revenue growth—all while maintaining trust and compliance.</p>
                    </div>
                    <div class="about-content pt-130">
                        <h3 class="title" style="color: #ffffff;"><span> <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,178,80,1) 0%, rgba(255,237,108,0.3295693277310925) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">SCALE</mark></span> Technology</h3>
                        <span style="color: rgb(255, 255, 255);">PRODUCT, VALIDATION, IMPACT</span>
                        <p style="color: rgb(255, 255, 255);">
                            It’s all about Scale, the ultimate goal is to create a system that grows the company customer retention two/three-fold, with our tech scale system you can hit the sweet spot of product, validation and impact So that the company can make smarter decisions, create incentive for customers and innovate. This proven system has already generated over a million dollars in revenue for our clients. </p>
                        <ul>
                            <li><a class="main-btn-2 main-btn" href="/book-a-call">Book a Call </a></li>
                            <!-- <li><a href="https://start.cloudcontinuous.com" style="display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid #ffffff; padding: 0 38px; font-size: 15px; text-transform: capitalize; font-weight: 600; line-height: 55px; border-radius: 5px; color: #fff; cursor: pointer; z-index: 5; transition: all 0.4s ease-out 0s; background-color: #000000; position: relative;" onmouseover="this.style.color='#000';this.style.backgroundColor='#fff';this.style.borderColor='#000';" onmouseout="this.style.color='#fff';this.style.backgroundColor='#000';this.style.borderColor='#fff';">View System<i class="fal fa-long-arrow-right" style="padding-left: 6px;"></i></a></li> -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->