    <!--====== ABOUT PART START ======-->

    <section id="model" class="about-area pt-90 pb-90" style="background-color: #000000;">
        <div id="model" class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <!-- <iframe src="https://www.videoask.com/fejkgl2ns" loading="lazy" title="VideoAsk" allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;" style="border: none; border-radius: 24px; width: 100%; height: 528px;">
                        </iframe> -->
                        
                        <div style="position: relative; overflow: hidden;">
                            <img src="assets/images/full-sig.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title" style="color: #ffffff;"><span> <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,138,198,1) 0%, rgba(84,138,198,0.304359243697479) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">DEFINE</mark></span> Data Strategy</h3>
                        <span style="color: rgb(255, 255, 255);">DDD Framework, Data Architecture, BI Roadmap</span>
                        <p style="color: rgb(255, 255, 255);">
                            Craft a comprehensive plan to manage, govern, and leverage data assets effectively. This plan include setting clear objectives, designing robust architectures, and creating frameworks that align with best data practices. By utilizing our proven framework, ensure data collection processes and project timelines are  crystal clear.</p>
                        <!-- <ul>
                            <li><a href="https://start.cloudcontinuous.com" style="display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid #ffffff; padding: 0 38px; font-size: 15px; text-transform: capitalize; font-weight: 600; line-height: 55px; border-radius: 5px; color: #fff; cursor: pointer; z-index: 5; transition: all 0.4s ease-out 0s; background-color: #000000; position: relative;" onmouseover="this.style.color='#000';this.style.backgroundColor='#fff';this.style.borderColor='#000';" onmouseout="this.style.color='#fff';this.style.backgroundColor='#000';this.style.borderColor='#fff';">View System<i class="fal fa-long-arrow-right" style="padding-left: 6px;"></i></a></li>
                            
                        </ul>                    -->
                    </div>
                    <div class="about-content pt-200">
                        <h3 class="title" style="color: #ffffff;"><span> <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(182,113,255,1) 0%, rgba(182,113,255,0.3267682072829131) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">BUILD</mark></span> Scalable Technology</h3>
                        <span style="color: rgb(255, 255, 255);">Custom Software, Data & Cloud Infra, API & ETL/ELT
                        </span>
                        <p style="color: rgb(255, 255, 255);">
                            Develop scalable products, integrations, and systems to efficiently gather, store, process, and cleanse data, empowering your company to leverage data and transform it into actionable insights.</p>
                    </div>
                    <div class="about-content pt-130">
                        <h3 class="title" style="color: #ffffff;"><span> <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(125,160,75,1) 0%, rgba(125,160,75,0.33237044817927175) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">LEVERAGE</mark></span> Data-Driven Insights</h3>
                        <span style="color: rgb(255, 255, 255);">Dashboards, Argmunented Data, AI & Machine Learning</span>
                        <p style="color: rgb(255, 255, 255);">
                            Building a robust product is only the second step. The real challenge lies in visualizing, enriching, and analyzing the data to generate actionable insights develop data models, create visualizations, and compile statistics to transform your data into powerful, data-driven decisions.  </p>
                    </div>
                    <div class="about-content pt-130">
                        <h3 class="title" style="color: #ffffff;"><span> <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,178,80,1) 0%, rgba(255,237,108,0.3295693277310925) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">SCALE</mark></span> Technology</h3>
                        <span style="color: rgb(255, 255, 255);">PRODUCT, VALIDATION, IMPACT</span>
                        <p style="color: rgb(255, 255, 255);">
                            It’s all about Scale, the ultimate goal is to create a system that grows the company ten-fold, with our tech scale system you can hit the sweet spot of product, validation and impact So that the company can make smarter decisions, innovate and grow. This proven system has already generated  over a billion dollars in revenue for our clients. </p>
                        <ul>
                            <li><a class="main-btn-2 main-btn" href="/book-a-call">Book a Call </a></li>
                            <!-- <li><a href="https://start.cloudcontinuous.com" style="display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid #ffffff; padding: 0 38px; font-size: 15px; text-transform: capitalize; font-weight: 600; line-height: 55px; border-radius: 5px; color: #fff; cursor: pointer; z-index: 5; transition: all 0.4s ease-out 0s; background-color: #000000; position: relative;" onmouseover="this.style.color='#000';this.style.backgroundColor='#fff';this.style.borderColor='#000';" onmouseout="this.style.color='#fff';this.style.backgroundColor='#000';this.style.borderColor='#fff';">View System<i class="fal fa-long-arrow-right" style="padding-left: 6px;"></i></a></li> -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->