<section class="color-tile-section mb-104">
  <div class="color-tile-wrapper black-bg">
    <div class="wrapper-tile padding-48-48">
      <div class="pricing-calculator-info mb-40">
        <h2 class="h2-subheading white mb-32">Calculate Your Team</h2>
        <div class="text-24 white">
          Select the appropriate number of developers, and we will automatically
          supplement them with the optimal number of QAs, managers, and other
          specialists to get the project done promptly.
        </div>
      </div>
      <div class="pricing-calculator-wrapper">
        <div
          id="w-node-df219f80-0b9e-c782-5d29-9f81f54ef9dc-06d9dda7"
          class="pricing-calculator-section border-right"
        >
          <div class="text-24 white bold mb-24">
            Choose the number of developers you need
          </div>
          <div class="pricing-calcualtor-counter">
            <a
              id="calc-minus"
              href="#"
              class="calculator-button w-node-df219f80-0b9e-c782-5d29-9f81f54ef9e0-06d9dda7 w-button"
              >-</a
            >
            <div
              id="calc-counter"
              class="calculator-field w-node-df219f80-0b9e-c782-5d29-9f81f54ef9e2-06d9dda7"
            >
              2
            </div>
            <a
              id="calc-plus"
              href="#"
              class="calculator-button w-node-df219f80-0b9e-c782-5d29-9f81f54ef9e4-06d9dda7 w-button"
              >+</a
            >
          </div>
        </div>
        <div
          id="w-node-df219f80-0b9e-c782-5d29-9f81f54ef9e6-06d9dda7"
          class="pricing-calculator-section border-right"
        >
          <div class="text-24 white bold mb-24">
            Your optimal team composition
          </div>
          <div class="pricnig-plans-list">
            <div class="pricing-plans-item white size-24">
              <div class="text-24"><span id="calc-dev">2</span> Developers</div>
            </div>
            <div class="pricing-plans-item white size-24">
              <div class="text-24"><span id="calc-qa">0.5</span> QA</div>
            </div>
            <div class="pricing-plans-item white size-24">
              <div class="text-24">
                <span id="calc-design">0.5</span> Designers
              </div>
            </div>
            <div class="pricing-plans-item white size-24">
              <div class="text-24"><span id="calc-pm">0.5</span> PM</div>
            </div>
          </div>
        </div>
        <div
          id="w-node-df219f80-0b9e-c782-5d29-9f81f54ef9fe-06d9dda7"
          class="pricing-calculator-section"
        >
          <div class="text-24 white bold mb-24">
            Your approximate price<span class="accent-color weight-600">*</span>
          </div>
          <div class="price-heading white mb-8">
            $<span id="calc-total" class="calc-total">24,400</span>
          </div>
          <div class="text-24 white bold mb-16">per month</div>
          <div class="text-18 white mb-32">
            <span class="accent-color">*</span>Please note that the cost is
            calculated according to the expert’s rates (see above)
          </div>
          <a
            data-w-id="df219f80-0b9e-c782-5d29-9f81f54efa0d"
            href="/contact-us"
            target="_blank"
            class="button outline full-width w-inline-block"
            style="
              transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            "
            ><div class="button-outline-text">Discuss the project</div>
            <div
              class="button-outline-shadow"
              style="
                transform: translate3d(6px, 6px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
            ></div
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
