    <!--====== PROJECT PART START ======-->

    <section class="project-case-area project-home pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title">CloudContinuous<span>Projects <span>Lab</span></span></h2>
                        <p>Below you will find some projects that are being developed</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="{{relative_url}}/assets/images/project/hashgames.png" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{relative_url}}/assets/images/project-shadow.png" alt="">
                            <h4 class="title">NFT Platform</h4>
                            <span>HashGames NFT Games</span>
                            <p>HashGames is tackling the crypto space within the Gaming industry to provide a play-to-earn and a play-to-win scenarios</p>
                            <a href="https://hashgames.app">View Details <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== PROJECT PART START ======-->