    <!--====== PROJECT PART START ======-->

    <section class="project-case-area project-home pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title">Join <span> our Referral Program<span></span></span></h2>
                        <p>You can earn you up to <b>$500</b> per referral</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb" style="width: 350px; height: 150px; display: flex; justify-content: center; align-items: center;">
                            <h4 class="title">Refer</h4>
                            <i class="fal fa-retweet"></i>
                        </div>
                        <div class="project-case-content text-center">
                           <p>Think of individuals or organizations within your network who could benefit from our exceptional services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb" style="width: 350px; height: 150px; display: flex; justify-content: center; align-items: center;">
                            <h4 class="title">Connect</h4>
                            <i class="fal fa-link"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <p>We will reach out to your referred leads, guiding them through our consultation and onboarding process.</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb" style="width: 350px; height: 150px; display: flex; justify-content: center; align-items: center;">
                            <h4 class="title">Reward</h4>
                            <i class="fal fa-award"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <p>When we successfully close a deal with any of your referred leads, Earn up to $500 in Amazon Gift Cards for each successful referral.</p>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== PROJECT PART START ======-->