    <script src="{{relative_url}}/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="{{relative_url}}/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{relative_url}}/assets/js/bootstrap.min.js"></script>
    <script src="{{relative_url}}/assets/js/popper.min.js"></script>
    <script src="{{relative_url}}/assets/js/slick.min.js"></script>
    <script src="{{relative_url}}/assets/js/jquery.counterup.min.js"></script>
    <script src="{{relative_url}}/assets/js/jquery.nice-select.min.js"></script>
    <script src="{{relative_url}}/assets/js/waypoints.min.js"></script>
    <script src="{{relative_url}}/assets/js/ion.rangeSlider.min.js"></script>
    <script src="{{relative_url}}/assets/js/wow.min.js"></script>
    <script src="{{relative_url}}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{relative_url}}/assets/js/ajax-contact.js"></script>
    <script src="{{relative_url}}/assets/js/main.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96782038-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-96782038-2');
    </script>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
