    <script src="{{relative_url}}/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="{{relative_url}}/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{relative_url}}/assets/js/bootstrap.min.js"></script>
    <script src="{{relative_url}}/assets/js/popper.min.js"></script>
    <script src="{{relative_url}}/assets/js/slick.min.js"></script>
    <script src="{{relative_url}}/assets/js/jquery.counterup.min.js"></script>
    <script src="{{relative_url}}/assets/js/jquery.nice-select.min.js"></script>
    <script src="{{relative_url}}/assets/js/waypoints.min.js"></script>
    <script src="{{relative_url}}/assets/js/ion.rangeSlider.min.js"></script>
    <script src="{{relative_url}}/assets/js/wow.min.js"></script>
    <script src="{{relative_url}}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{relative_url}}/assets/js/ajax-contact.js"></script>
    <script src="{{relative_url}}/assets/js/main.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96782038-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-96782038-2');
    </script>
    <script src="https://mautic.fiott.org/focus/1.js" type="text/javascript" charset="utf-8" async="async"></script>
    <script type="text/javascript">
        /** This section is only needed once per page if manually copying **/
        if (typeof MauticSDKLoaded == 'undefined') {
            var MauticSDKLoaded = true;
            var head            = document.getElementsByTagName('head')[0];
            var script          = document.createElement('script');
            script.type         = 'text/javascript';
            script.src          = 'https://mautic.fiott.org/media/js/mautic-form.js?ve9d5a0e1';
            script.onload       = function() {
                MauticSDK.onLoad();
            };
            head.appendChild(script);
            var MauticDomain = 'https://mautic.fiott.org';
            var MauticLang   = {
                'submittingMessage': "Please wait..."
            }
        }else if (typeof MauticSDK != 'undefined') {
            MauticSDK.onLoad();
        }
    </script>
    <script async defer src="{{relative_url}}/assets/js/cdn.js"></script>
    <script defer data-domain="cdn.cloudcontinuous.com" src="{{relative_url}}/assets/js/cdn.js"></script>
    <script> (function(ss,ex){ window.ldfdr=window.ldfdr||function(){(ldfdr._q=ldfdr._q||[]).push([].slice.call(arguments));}; (function(d,s){ fs=d.getElementsByTagName(s)[0]; function ce(src){ var cs=d.createElement(s); cs.src=src; cs.async=1; fs.parentNode.insertBefore(cs,fs); }; ce('https://sc.lfeeder.com/lftracker_v1_'+ss+(ex?'_'+ex:'')+'.js'); })(document,'script'); })('YEgkB8lKjZzaep3Z'); </script>