<!--====== SERVICES PART START ======-->

<section id="services" class="services-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title">What We Do <span><span></span></span></h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row services-active">
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Cloud Migrations</h3>
        			<i class="fal fa-laptop-code"></i>
        			<p>Find out if this service is really needed for your business, Get in Touch.</p>
					<a class="main-btn-2 main-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cloudcontinuous'});return false;">Get In Touch </a>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">AI & Machine learning</h3>
        			<i class="fal fa-umbrella-beach"></i>
        			<p>Find out if this service is really needed for your business, Get in Touch.</p>
					<a class="main-btn-2 main-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cloudcontinuous'});return false;">Get In Touch </a>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Big Data Solutions</h3>
        			<i class="fal fa-server"></i>
        			<p>Find out if this service is really needed for your business, Get in Touch.</p>
					<a class="main-btn-2 main-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cloudcontinuous'});return false;">Get In Touch </a>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Cloud Infrastructure Solutions</h3>
        			<i class="fal fa-server"></i>
        			<p>Find out if this service is really needed for your business, Get in Touch.</p>
					<a class="main-btn-2 main-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cloudcontinuous'});return false;">Get In Touch </a>
        		</div>
        	</div>
			<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Application Development</h3>
        			<i class="fal fa-server"></i>
        			<p>Find out if this service is really needed for your business, Get in Touch.</p>
					<a class="main-btn-2 main-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cloudcontinuous'});return false;">Get In Touch </a>
        		</div>
        	</div>
            <div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Security Audit & Reporting</h3>
        			<i class="fal fa-server"></i>
        			<p>Find out if this service is really needed for your business, Get in Touch.</p>
					<a class="main-btn-2 main-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cloudcontinuous'});return false;">Get In Touch </a>
        		</div>
        	</div>
        </div>
    </div>
</section> 

<!--====== SERVICES PART ENDS ======-->
