<section id="why" class="why section__bottom-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="section-title text-center">
							
						</div>
					</div>
				</div>
				<div class="comparison">
					<div class="row no-gutters">
					  <!-- Feature Names Column -->
					  <div class="d-none d-xl-block col-xl-3 order-0">
						<div class="comparison__col comparison__col--names">
						  <div class="comparison__cell"></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Offer</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Real-Time Data</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Custom Integration with your Data</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Reporting & Analytics</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Personalization & Relevance</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Cross-Channel Messaging</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">AI Suite</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Customer Support Services</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Journey Orchestration</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Customer Journey Strategies</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Time to Value</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Integration Flexibility</h5></div>
						  <div class="comparison__cell"><h5 class="comparison__row-title">Total Cost of Ownership</h5></div>
						</div>
					  </div>
				  
					  <!-- CloudContinuous Column -->
					  <div class="col-sm-4 col-xl-3 order-1 order-sm-2 order-xl-1">
						<div class="comparison__col comparison__col--cc">
						  <div class="comparison__cell"><h4 class="comparison__col-title">Cloud Continuous</h4></div>
						  <div class="comparison__cell">DONE FOR YOU (With Software)</div>
						  <div class="comparison__cell">300+ Sources (Custom Pipelines, APIs)</div>
						  <div class="comparison__cell">Yes</div>
						  <div class="comparison__cell">Fully Custom Dashboards & KPIs</div>
						  <div class="comparison__cell">Yes (Behavioral + ML + Real-Time)</div>
						  <div class="comparison__cell">Yes (Email, SMS, WhatsApp, etc.)</div>
						  <div class="comparison__cell">Yes (Churn, CLTV, Segments)</div>
						  <div class="comparison__cell">Yes (Full-Service Strategy + Impl.)</div>
						  <div class="comparison__cell">Custom Logics (Serverless)</div>
						  <div class="comparison__cell">Yes, Applied for you</div>
						  <div class="comparison__cell">10 Days (Includes Infra & Data Setup)</div>
						  <div class="comparison__cell">Fully Flexible – Built Around Infra</div>
						  <div class="comparison__cell">Initial Setup from 45K+</div>
						</div>
					  </div>
				  
					  <!-- Braze Column -->
					  <div class="col-sm-4 col-xl-3 order-2 order-sm-1 order-xl-2">
						<div class="comparison__col">
						  <div class="comparison__cell"><h5 class="comparison__col-title" style="color: black;">Braze</h5></div>
						  <div class="comparison__cell">SAAS (Do it yourself)</div>
						  <div class="comparison__cell">140+ Sources (SDKs & APIs)</div>
						  <div class="comparison__cell">No</div>
						  <div class="comparison__cell">Prebuilt Dashboards (Limited)</div>
						  <div class="comparison__cell">Yes (Rule-Based + BrazeAI™)</div>
						  <div class="comparison__cell">Yes</div>
						  <div class="comparison__cell">Yes (Send Time, Copywriting)</div>
						  <div class="comparison__cell">Yes (Tiered Support)</div>
						  <div class="comparison__cell">Canvas Flow (Visual Builder)</div>
						  <div class="comparison__cell">No</div>
						  <div class="comparison__cell">3/5 Days of Sales (if Data is Ready)</div>
						  <div class="comparison__cell">Limited to Ecosystem</div>
						  <div class="comparison__cell">$60k–$200k/yr + Resources</div>
						</div>
					  </div>
				  
					  <!-- Iterable Column -->
					  <div class="col-sm-4 col-xl-3 order-3">
						<div class="comparison__col">
						  <div class="comparison__cell"><h5 class="comparison__col-title" style="color: black;">Others</h5></div>
						  <div class="comparison__cell">SAAS (Do it yourself)</div>
						  <div class="comparison__cell">100+ Sources (API, CDP, etc.)</div>
						  <div class="comparison__cell">No</div>
						  <div class="comparison__cell">Prebuilt Dashboards (Limited)</div>
						  <div class="comparison__cell">Yes (Catalog)</div>
						  <div class="comparison__cell">Yes</div>
						  <div class="comparison__cell">Yes (Send Time, Brand Affinity)</div>
						  <div class="comparison__cell">Yes (Onboarding & CSM)</div>
						  <div class="comparison__cell">Limited</div>
						  <div class="comparison__cell">No</div>
						  <div class="comparison__cell">Fast (Needs clean data)</div>
						  <div class="comparison__cell">Limited to Ecosystem</div>
						  <div class="comparison__cell">~$60k–$150k/yr (varies)</div>
						</div>
					  </div>
					</div>
				  </div>
				<!-- <div class="row">
					<div class="col">
						<div class="why__info">
							<p>
								<strong>We’re successful, because we look at the big picture.</strong>
							</p>
							<p>
								It’s important for us to build long-term relationships with our clients and make everyone proud of the work that has been done together. This is why our clients keep coming back.
							</p>
						</div>
					</div>
				</div> -->
			</div>
			{% include competitor-calc-savings.html %}
		</div>
	</div>
</section>