<section id="why" class="why section__bottom-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="section-title text-center">
							
						</div>
					</div>
				</div>
				<div class="comparison">
					<div class="row no-gutters">
						<div class="d-none d-xl-block col-xl-3 order-0">
							<div class="comparison__col comparison__col--names">
								<div class="comparison__cell"></div>
								<div class="comparison__cell">
									<h5 class="comparison__row-title">
										Start<br>
										Project
									</h5>
								</div>
								<div class="comparison__cell">
									<h5 class="comparison__row-title">
										Recruiting<br>
										Fee
									</h5>
								</div>
								<div class="comparison__cell">
									<h5 class="comparison__row-title">
										Guaranteed<br>
										Quality
									</h5>
								</div>
								<div class="comparison__cell">
									<h5 class="comparison__row-title">
										Failure<br>
										Rate
									</h5>
								</div>
								<div class="comparison__cell">
									<h5 class="comparison__row-title">
										Money back<br>
										Guarantee
									</h5>
								</div>
								<div class="comparison__cell">
									<h5 class="comparison__row-title">
										Termination<br>
										Costs
									</h5>
								</div>
								<div class="comparison__cell">
									<h5 class="comparison__row-title">
										Digital Marketing<br>
										Expertise
									</h5>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xl-3 order-1 order-sm-2 order-xl-1">
							<div class="comparison__col comparison__col--cc">
								<div class="comparison__cell">
									<h4 class="comparison__col-title">
										Cloud Continuous
									</h4>
								</div>
								<div class="comparison__cell">
									1-2 weeks
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									0
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									Yes
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									Low
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									Yes
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									0
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									Yes
									<h5 class="comparison__cell-title">
									</h5>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xl-3 order-2 order-sm-1 order-xl-2">
							<div class="comparison__col">
								<div class="comparison__cell">
									<h4 class="comparison__col-title">
										Agency
									</h4>
								</div>
								<div class="comparison__cell">
									1-2 Months
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									0
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									No
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									High
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									No
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									Medium
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									No
									<h5 class="comparison__cell-title">
									</h5>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xl-3 order-3">
							<div class="comparison__col">
								<div class="comparison__cell">
									<h4 class="comparison__col-title">
										Employment
									</h4>
								</div>
								<div class="comparison__cell">
									1-3 Months
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									$10k-40k
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									No
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									Medium
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									No
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									High
									<h5 class="comparison__cell-title">
									</h5>
								</div>
								<div class="comparison__cell">
									No
									<h5 class="comparison__cell-title">
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col">
						<div class="why__info">
							<p>
								<strong>We’re successful, because we look at the big picture.</strong>
							</p>
							<p>
								It’s important for us to build long-term relationships with our clients and make everyone proud of the work that has been done together. This is why our clients keep coming back.
							</p>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>