<section id="services" class="services-3-area pb-125">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title">What We Do <span> <span></span></span></h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <i class="fal fa-laptop-code"></i><br>
                    <span>Define Data Strategy</span>
                    <h4 class="title">Data Driven Decision Framework</h4>
                    <p>Find out if this service is required in your business, Start Here for more info.</p>
					<a onclick="Calendly.initPopupWidget({url: 'https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV'});return false;">Start Here <i class="far fa-long-arrow-right"></i> </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
                    <i class="fal fa-umbrella-beach"></i><br>
                    <span>Define Data Strategy</span>
                    <h4 class="title">Data Architecture Framework</h4>
                    <p>Define which data and insights will help the company grow in verious sectors of the business</p>
					<a onclick="Calendly.initPopupWidget({url: 'https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV'});return false;">Start Here <i class="far fa-long-arrow-right"></i> </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <i class="fal fa-server"></i><br>
                    <span>Build and Distribute</span>
                    <h4 class="title">Custom Software Development</h4>
                    <p>Find out if this service is required in your business, Start Here for more info.</p>
					<a onclick="Calendly.initPopupWidget({url: 'https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV'});return false;">Start Here <i class="far fa-long-arrow-right"></i> </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
                    <i class="fal fa-lock-open-alt"></i><br>
                    <span>Build and Distribute</span>
                    <h4 class="title">Cloud Infrastructure</h4>
                    <p>Find out if this service is required in your business, Start Here for more info.</p>
					<a onclick="Calendly.initPopupWidget({url: 'https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV'});return false;">Start Here <i class="far fa-long-arrow-right"></i> </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <i class="fal fa-layer-plus"></i><br>
                    <span>Build and Distribute</span>
                    <h4 class="title">Data Pipeline and Warehouse</h4>
                    <p>Find out if this service is required in your business, Start Here for more info.</p>
					<a onclick="Calendly.initPopupWidget({url: 'https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV'});return false;">Start Here <i class="far fa-long-arrow-right"></i> </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
                    <i class="fal fa-gift-card"></i><br>
                    <span>Build and Distribute</span>
                    <h4 class="title">ETLs and API Development</h4>
                    <p>Find out if this service is required in your business, Start Here for more info.</p>
					<a onclick="Calendly.initPopupWidget({url: 'https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV'});return false;">Start Here <i class="far fa-long-arrow-right"></i> </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <i class="fal fa-drafting-compass"></i><br>
                    <span>Visualise & Enrich</span>
                    <h4 class="title">Custom Dashbaords</h4>
                    <p>Find out if this service is required in your business, Start Here for more info.</p>
					<a onclick="Calendly.initPopupWidget({url: 'https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV'});return false;">Start Here <i class="far fa-long-arrow-right"></i> </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
                    <i class="fal fa-dharmachakra"></i><br>
                    <span>Visualise & Enrich</span>
                    <h4 class="title">ML and AI Models</h4>
                    <p>Find out if this service is required in your business, Start Here for more info.</p>
					<a onclick="Calendly.initPopupWidget({url: 'https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV'});return false;">Start Here <i class="far fa-long-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section> 