<div class="pt-40" style="border: 2px solid rgb(197, 222, 8); padding: 20px; border-radius: 10px;">
    <div class="cta-section" style="text-align: center;">
        <h3 class="title">Customer Insights Strategy</h3>
        <h4 class="title">Increase Customer repurchase <br> by 10-50%</h4>
        <img src="/assets/images/customer-insights-cta.png" alt="Free Assets" style="padding:10px;">
        <a href="https://link.cloudcontinuous.com/customer-insights-strategy" class="main-btn main-btn-2 pt-20">Download Now</a>
    </div>
</div>