    <!--====== ABOUT PART START ======-->

    <section class="about-area pt-130 pb-130" style="background-color: #000000;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <!-- <iframe src="https://www.videoask.com/fejkgl2ns" loading="lazy" title="VideoAsk" allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;" style="border: none; border-radius: 24px; width: 100%; height: 528px;">
                        </iframe> -->
                        
                        <div style="position: relative; padding-bottom: 80%; height: 0; overflow: hidden;">
                            <img src="assets/images/cc-signiture-4.png" style="filter: blur(2px);">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title" style="color: #ffffff;">Our Proven System</h3>
                        <span style="color: rgb(255, 255, 255);">DEFINE, BUILD & LEVERAGE</span>
                        <p style="color: rgb(255, 255, 255);">
                            Most companies underestimate the value of the data they can collect, we have a proven process that helps them identify, build and leverage so that the company can <mark style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,178,80,1) 0%, rgba(255,237,108,0.3295693277310925) 100%); border-radius: 0.5em 0; padding: .5rem; color: white;">make smarter decisions, innovate and grow.</mark></p>
                        <ul>
                            <li><a href="https://start.cloudcontinuous.com" style="display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid #ffffff; padding: 0 38px; font-size: 15px; text-transform: capitalize; font-weight: 600; line-height: 55px; border-radius: 5px; color: #fff; cursor: pointer; z-index: 5; transition: all 0.4s ease-out 0s; background-color: #000000; position: relative;" onmouseover="this.style.color='#000';this.style.backgroundColor='#fff';this.style.borderColor='#000';" onmouseout="this.style.color='#fff';this.style.backgroundColor='#000';this.style.borderColor='#fff';">View System<i class="fal fa-long-arrow-right" style="padding-left: 6px;"></i></a></li>
                        </ul>
                        <!-- <iframe src="https://api.leadconnectorhq.com/widget/booking/spfDg8KL3l2J6ZbKaBBV" style="width: 100%;border:none;overflow: hidden;" scrolling="no" id="spfDg8KL3l2J6ZbKaBBV_1731600715639"></iframe><br><script src="https://link.msgsndr.com/js/form_embed.js" type="text/javascript"></script> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->