<!--====== TESTIMONIALS 2 PART START ======-->

<section class="testimonials-2-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title">
                    <h2 class="title">Testimonials <span>Client’s <span> Say</span></span></h2>
                    <p>Trusted by some of the world's top brands</p>
                    <p class="text">We've had the privilege of working with some of the most recognized brands, and I now bring that same dedication and expertise to help my clients succeed</p>
                    <a class="main-btn" href="https://cloudcontinuous.com/testimonials">View More Reviews</a>
                </div>
            </div>
            <div class="col-lg-8">
            	<div class="row testinonials-2-active">
            		<div class="col-lg-6">
            			<div class="testimonials-item white-bg mt-15">
            				<div class="testimonials-info">
            					<img src="/assets/images/1705400532130.jpeg" alt="post"  width="60" height="60">
            					<h6 class="title">Mikko Peltola</h6>
            					<span>Head of Infra @ Wolt</span>
            				</div>
            				<div class="testimonials-content">
            					<p>Their solution completely transformed how we track our software expenses and manage third-party SaaS tools. We now have a clear view of our spending, which has helped us cut unnecessary costs by 25% and streamline our software usage. Their insights allowed us to optimize our subscriptions and ensure we’re only paying for what we truly need</p>
            				</div>
	                        <div class="star d-flex justify-content-start">
	                            <span>(</span>
	                            <ul>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                            </ul>
	                            <span>)</span>
	                        </div>
	                        <div class="quote">
	                        	<i class="fal fa-quote-right"></i>
	                        </div>
            			</div>
            		</div>
            		<div class="col-lg-6">
            			<div class="testimonials-item white-bg mt-15">
            				<div class="testimonials-info">
            					<img src="/assets/images/1609747366933.jpeg" alt="post" width="60" height="60">
            					<h6 class="title">Michael Lehmann</h6>
            					<span>Head of Cloud @ Zurich Insurance</span>
            				</div>
            				<div class="testimonials-content">
            					<p>Before working with them, we had little visibility into our software, Infra and SaaS expenses. Their system provided detailed insights, helping us identify redundant subscriptions and optimize our spending. We've reduced our software costs by 30% and gained better control over our third-party services, ensuring we're maximizing value from every tool we use.</p>
            				</div>
	                        <div class="star d-flex justify-content-start">
	                            <span>(</span>
	                            <ul>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                            </ul>
	                            <span>)</span>
	                        </div>
	                        <div class="quote">
	                        	<i class="fal fa-quote-right"></i>
	                        </div>
            			</div>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</section> 

<!--====== TESTIMONIALS 2 PART ENDS ======-->