    <!--====== TESTIMONIALS PART START ======-->

    <section class="testimonial-area">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title">How We Works</h2>
                        <p>knows About Our Customer Say</p>
                    </div>
                </div> -->
            </div>
            <div class="row testinonials-active">
                <div class="col-lg-4">
                    <div class="testimonial-item white-bg text-center mt-70">
                        <img src="{{relative_url}}/assets/images/edward.jpeg" alt="testimonial">
                        <div class="star d-flex justify-content-center">
                            <span>(</span>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <span>)</span>
                        </div>
                        <p>It has been a pleasure working with Daniel, he has been very helpful with our migrations and technical Integrations, Always willing to go the extra mile</p>
                        <h6 class="title">Edward @ Catena Media</h6>
                        <i class="fal fa-quote-right"></i>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item white-bg text-center mt-70">
                        <img src="{{relative_url}}/assets/images/stefan.jpeg" alt="testimonial">
                        <div class="star d-flex justify-content-center">
                            <span>(</span>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <span>)</span>
                        </div>
                        <p>They helped with understanding the requirements for improvement on our applictions reliability and scalability, A report was delivered and they have went above and beyond to what our initial requirements needed.</p>
                        <h6 class="title">Stefan @ Themeparx</h6>
                        <i class="fal fa-quote-right"></i>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item white-bg text-center mt-70">
                        <img src="{{relative_url}}/assets/images/dinesh.jpeg" alt="testimonial">
                        <div class="star d-flex justify-content-center">
                            <span>(</span>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <span>)</span>
                        </div>
                        <p>His knowledge on various technologies, was much useful for our team to achieve the automation for various foundation topics and application migrations.
                        We gained confidence from customers working with him. We where very glad to be working Daniel.</p>
                        <h6 class="title">Dinesh @ Tata Services</h6>
                        <i class="fal fa-quote-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== TESTIMONIALS PART ENDS ======-->