<!--====== TESTIMONIALS 2 PART START ======-->

<section class="testimonials-2-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title">
                    <h2 class="title">Testimonials <span>Client’s <span> Say</span></span></h2>
                    <p>Something knows About Team</p>
                    <p class="text">Must explain to you how all this mistaken idea of denouncing pleasure and</p>
                    <a class="main-btn" href="faq.html">View More Review</a>
                </div>
            </div>
            <div class="col-lg-8">
            	<div class="row testinonials-2-active">
            		<div class="col-lg-6">
            			<div class="testimonials-item white-bg mt-15">
            				<div class="testimonials-info">
            					<img src="/assets/images/testimonial-user-1.png" alt="post">
            					<h6 class="title">Malissa R. Dallas</h6>
            					<span>CEO & Founder</span>
            				</div>
            				<div class="testimonials-content">
            					<p>Avoids pleasure itself because pleasure but because those who do not know how pursue pleasure rationally encoeq ueces that are extremely painful. Nor again is there anyone who loves pursues</p>
            				</div>
	                        <div class="star d-flex justify-content-start">
	                            <span>(</span>
	                            <ul>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                            </ul>
	                            <span>)</span>
	                        </div>
	                        <div class="quote">
	                        	<i class="fal fa-quote-right"></i>
	                        </div>
            			</div>
            		</div>
            		<div class="col-lg-6">
            			<div class="testimonials-item white-bg mt-15">
            				<div class="testimonials-info">
            					<img src="/assets/images/testimonial-user-2.png" alt="post">
            					<h6 class="title">Terry A. Konrad</h6>
            					<span>Web Designer</span>
            				</div>
            				<div class="testimonials-content">
            					<p>Avoids pleasure itself because pleasure but because those who do not know how pursue pleasure rationally encoeq ueces that are extremely painful. Nor again is there anyone who loves pursues</p>
            				</div>
	                        <div class="star d-flex justify-content-start">
	                            <span>(</span>
	                            <ul>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                            </ul>
	                            <span>)</span>
	                        </div>
	                        <div class="quote">
	                        	<i class="fal fa-quote-right"></i>
	                        </div>
            			</div>
            		</div>
            		<div class="col-lg-6">
            			<div class="testimonials-item white-bg mt-15">
            				<div class="testimonials-info">
            					<img src="/assets/images/testimonial-user-2.png" alt="post">
            					<h6 class="title">Terry A. Konrad</h6>
            					<span>Web Designer</span>
            				</div>
            				<div class="testimonials-content">
            					<p>Avoids pleasure itself because pleasure but because those who do not know how pursue pleasure rationally encoeq ueces that are extremely painful. Nor again is there anyone who loves pursues</p>
            				</div>
	                        <div class="star d-flex justify-content-start">
	                            <span>(</span>
	                            <ul>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                                <li><i class="fas fa-star"></i></li>
	                            </ul>
	                            <span>)</span>
	                        </div>
	                        <div class="quote">
	                        	<i class="fal fa-quote-right"></i>
	                        </div>
            			</div>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</section> 

<!--====== TESTIMONIALS 2 PART ENDS ======-->