    <!--====== ABOUT PART START ======-->
      <!-- <iframe src="https://www.videoask.com/fejkgl2ns" loading="lazy" title="VideoAsk" allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;" style="border: none; border-radius: 24px; width: 100%; height: 528px;">
                        </iframe> -->

    
    <section id="model" class="about-area pt-90 pb-90" style="background-color: #000000;">
        <div class="container">
            <div class="row justify-content-center pb-30">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        
                        <h3 class="title" style="color: #ffffff;">How we achieve this</h3>
                        <span style="color: #ffffff;"">Merging Marketing & Data Team</span>
                        <!-- <p>A Three step process to reach your <br> SCALEABLE TECH</p> -->
                        <!-- <li><a class="main-btn" href="https://start.cloudcontinuous.com">View our System</a></li> -->
                        </dev>
                    </div>
                </div>
            </div>
            <div class="row align-items-center px-40" style="border: 1px solid #ffffff; border-radius: 5px; padding: 40px;">
                <div class="col-lg-12">
                    <div class="about-thumb text-center">
                    <img src="/assets/images/marketing-data.png" alt="">
                    </div>
                </div>
               
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->