
  <!--====== CATEGORY PART START ======-->
   
  <section class="category-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="category-goals bg_cover d-flex align-items-center justify-content-center" style="background-color: #000000;">
                    <!-- background-image: url(assets/images/goals-bg.jpg); -->
                    <div class="goals-item text-center">
                        <img src="assets/images/3-step/define.png" alt="define">
                        <h4 class="title">DEFINE</h4>
                        <p>Craft a comprehensive plan to manage, govern, and leverage data assets effectively. This plan should include setting clear objectives, designing robust architectures, and creating frameworks that align with best data practices. By utilizing our proven framework, ensure data collection processes and project timelines are well-defined and transparent.</p>
                        <a class="main-btn" href="/define-data-strategy">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="category-misson text-center d-flex align-items-center justify-content-center">
                    <div class="misson-item">
                        <img src="assets/images/3-step/build.png" alt="build">
                        <h4 class="title">BUILD</h4>
                        <p>Develop scalable products, integrations, and systems to efficiently gather, store, process, and cleanse data, 
                            empowering your company to leverage data and transform it into actionable insights.</p>
                        <a class="main-btn" href="/build-scalable-technology">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="category-goals bg_cover d-flex align-items-center justify-content-center" style="background-color: #000000;">
                    <!-- background-image: url(assets/images/goals-bg.jpg); -->
                    <div class="goals-item text-center">
                        <img src="assets/images/3-step/leverage.png" alt="leverage">
                        <h4 class="title">LEVERAGE</h4>
                        <p>Building a robust product is only the second step. The real challenge lies in visualizing, enriching, and analyzing the data to 
                            generate actionable insights. Develop data models, create visualizations, and compile statistics to transform your data into powerful, data-driven decisions.</p>
                        <a class="main-btn" href="/leverage-data-driven-insights">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

<!--====== CATEGORY PART ENDS ======-->