    <!--====== REQUEST QUOTE PART START ======-->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <section class="requst-quote-area bg_cover pt-115" style="background-image: url({{relative_url}}/assets/images/requst-quote-bg.jpg); filter: grayscale(100%);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="requst-content text-center">
                        <h2 class="title">Our Gratitude, Your Benefit</h2>
                        <span>When you refer others to us, you're not only helping us expand but also earning rewards for yourself. To show our appreciation, we're offering generous rewards that demonstrate our dedication to our partnership</span>
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-sm-8">
                                <div class="contact-info-border" style="color: white; margin: 40px; padding: 40px; border: solid 0.08em #fff;">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                            <div class="contact-info-item text-center">
                                                <!-- <i class="fas fa-utensils"></i> -->
                                                <i><b>1</b></i>
                                                <ul>
                                                    <li><b>think of potential clients in your network</b></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="contact-info-item text-center active">
                                                <i><b>2</b></i>
                                                <ul>
                                                    <li><b>Share your positive experience with them and refer them to US</b></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="contact-info-item text-center">
                                                <i><b>3</b></i>
                                                <ul>
                                                    <li><b>Watch as your referrals receive exceptional service, just like you have</b></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="contact-info-item text-center">
                                                <i><b>4</b></i>
                                                <ul>
                                                    <li><b>Enjoy your rewards when deals are successfully closed with your referrals.</b></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="main-btn-2 main-btn" href="/referral-program#form">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--====== REQUEST QUOTE PART ENDS ======-->