<!--====== WORKING PROCESS PART START ======-->

<section id="process" class="working-process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title">IT'S <span>easy <span>as 1-2-3</span></span></h2>
                    <!-- <p>A Three step process to reach your <br> SCALEABLE TECH</p> -->
                    <li><a class="main-btn" href="https://start.cloudcontinuous.com">View our System</a></li>
                    </dev>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="working-item text-center item-1">
                    <i class="fal fa-head-side-brain"></i>
                    <h5 class="title">Define Data Strategy</h5>
                    <p>A Proven Framework to find what data to collect how it's beneficial using our DDD (Data Decision Driven) framework</p>
                    <div class="dot-1">
                        <img src="{{relative_url}}/assets/images/working-dot-1.png" alt="working">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="working-item text-center item-2">
                    
                    <i class="fas fa-drafting-compass"></i>
                    <h5 class="title">Build Scaleable Technology</h5>
                    <p>Outline a strategic plan for leveraging data analytics and reporting tools to gain actionable insights and enhance decision-making processes</p>
                    <div class="dot-2">
                        <img src="{{relative_url}}/assets/images/working-dot-2.png" alt="working">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="working-item text-center item-3">
                    <i class="fas fa-tools"></i>
                    <h5 class="title">Leverage data-driven insights</h5>
                    <p>Design and implement tailored software solutions,  Built custom data infrastructure, and integrate robust APIs to enable seamless communication between different systems</p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="working-item text-center item-4">
                    <i class="fas fa-rocket"></i>
                    <h5 class="title">Visualise and Enrich</h5>
                    <p>Design and develop interactive dashboards,  train, and deploy AI and machine learning models to automate complex tasks, generate insights, and drive innovation across business processes</p>
                    <div class="dot-3">
                        <img src="{{relative_url}}/assets/images/working-dot-1.png" alt="working">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <div class="shape-3"></div>
    <div class="shape-4"></div>
</section>

<!--====== WORKING PROCESS PART ENDS ======-->