<!--====== WORKING PROCESS PART START ======-->

<section id="process" class="working-process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title"><span>Success <span> in 3 steps</h2>
                    <!-- <p>A Three step process to reach your <br> SCALEABLE TECH</p> -->
                    <!-- <li><a class="main-btn" href="https://start.cloudcontinuous.com">View our System</a></li> -->
                    </dev>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="working-item text-center item-1">
                    <i class="fas fa-browser"></i>
                    <h5 class="title">Build a Digital Experience</h5>
                    <p>
                        We'll build a digital product such as Mobile apps, loyalty portals, or customer tools that get used, not just downloaded, Specifically designed to form habits from the first use.</p>
                    <div class="dot-1">
                        <img src="{{relative_url}}/assets/images/working-dot-1.png" alt="working">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="working-item text-center item-2">
                    
                    <i class="fas fa-drafting-compass"></i>
                    <h5 class="title">Collect and Segment Data</h5>
                    <p>
                        Gather customer data from all channels and organize it into smart segments. Understand who your customers are, what they need, and when to reach them—so every message feels personal and timely.</p>
                    <div class="dot-2">
                        <img src="{{relative_url}}/assets/images/working-dot-2.png" alt="working">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="working-item text-center item-3">
                    <i class="fas fa-bolt"></i>
                    <h5 class="title">Personalize and Communicate Effectively</h5>
                    <p>WSend the right message to the right customer at the right time. Use personalized push notifications, and in-app messages to stay relevant—whether it’s a birthday surprise, a cart reminder, or a product they love back in stock.</p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="working-item text-center item-4">
                    <i class="fas fa-rocket"></i>
                    <h5 class="title">Visualise and Enrich</h5>
                    <p>Design and develop interactive dashboards,  train, and deploy AI and machine learning models to automate complex tasks, generate insights, and drive innovation across business processes</p>
                    <div class="dot-3">
                        <img src="{{relative_url}}/assets/images/working-dot-1.png" alt="working">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <div class="shape-3"></div>
    <div class="shape-4"></div>
</section>

<!--====== WORKING PROCESS PART ENDS ======-->