<!--====== WORKING PROCESS PART START ======-->

<section id="process" class="working-process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title"><span>Success <span> in 3 steps</h2>
                    <!-- <p>A Three step process to reach your <br> SCALEABLE TECH</p> -->
                    <!-- <li><a class="main-btn" href="https://start.cloudcontinuous.com">View our System</a></li> -->
                    </dev>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="working-item text-center item-1">
                    <i class="fas fa-browser"></i>
                    <h5 class="title">Connect & Centralize</h5>
                    <p>
                        We help you integrate scattered data sources—web, mobile, POS, CRM, support channels and centralize them in a scalable data warehouse. This gives you a complete view of the customer journey and real-time access to behavior, transactions, and engagement, all in one place.</p>
                    <div class="dot-1">
                        <img src="{{relative_url}}/assets/images/working-dot-1.png" alt="working">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="working-item text-center item-2">
                    
                    <i class="fas fa-drafting-compass"></i>
                    <h5 class="title">Segment & Strategize</h5>
                    <p>
                        Once your data is centralized, we help you make it actionable. This means mapping customer journeys, building intelligent segments, and designing loyalty programs tailored to behavior, value, and intent. We define the strategies that convert one-time buyers into lifelong customers.</p>
                    <div class="dot-2">
                        <img src="{{relative_url}}/assets/images/working-dot-2.png" alt="working">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="working-item text-center item-3">
                    <i class="fas fa-bolt"></i>
                    <h5 class="title">Automate & Engage</h5>
                    <p>We connect your data to outbound platforms like SMS, WhatsApp, and email, enabling you to send the right message at the right time. With AI-powered workflows and smart triggers, you can drive retention and engagement without manual effort.</p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="working-item text-center item-4">
                    <i class="fas fa-rocket"></i>
                    <h5 class="title">Visualise and Enrich</h5>
                    <p>Design and develop interactive dashboards,  train, and deploy AI and machine learning models to automate complex tasks, generate insights, and drive innovation across business processes</p>
                    <div class="dot-3">
                        <img src="{{relative_url}}/assets/images/working-dot-1.png" alt="working">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <div class="shape-3"></div>
    <div class="shape-4"></div>
</section>

<!--====== WORKING PROCESS PART ENDS ======-->