---
layout: default
---

<section class="requst-quote-area bg_cover pt-115" style="background-image: url({{page.post_image}}); margin-top: 115px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="requst-content text-center">
                    <h1 class="title">Book a Discovery Call</h1>
                    <br />
                    <!-- <h5 class="title">Step 1 of 2: Watch Video</h5> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
    <div class="container">
    </div>
</div> -->
<section class="category-area">
    <div class="newaletter-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="category-thumb bg_cover" style="background-image: url({{page.video_bg}});">
                    <div class="play-overlay">
                        <a class="video-popup" href="{{ page.video_link | default:'https://www.youtube.com/watch?v=defaultVideoID' }}"><i class="far fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section> 
{% include clients.html %}
<section class="requst-quote-area bg_cover pt-10" style="background-image: url({{page.post_image}}); margin-top: 0px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="requst-content text-center">
                    <h3 class="title">Secure your Date and Time</h3>
                    <h4>It is easy and seamless to reschedule your session if you need to do so.
                        If you can’t show up, please use the reschedule link in the calendar event</h4>
                        <br />
                    <!-- <h5 class="title">Step 2 of 2: Schedule a Free Call</h5> -->
                    <iframe src="https://api.leadconnectorhq.com/widget/group/diaKxgGsrgbNjlYukpCs" style="width: 100%;border:none;overflow: hidden;" scrolling="no" id="diaKxgGsrgbNjlYukpCs_1737237238804"></iframe><br><script src="https://link.msgsndr.com/js/form_embed.js" type="text/javascript"></script>
                </div>
            </div>
        </div>
    </div>
</section>

{% include testimonal_2.html %}
