---
layout: default
---

<section class="requst-quote-area bg_cover pt-115" style="background-image: url({{page.post_image}}); margin-top: 115px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="requst-content text-center">
                    <h1 class="title">{{page.title}}</h1>
                    <p>{{page.small_desc}}</p>
                    <br />
                    <h5 class="title">Step 1 of 2: Watch Video</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
    <div class="container">
    </div>
</div> -->

<section class="category-area">
    <div class="newaletter-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-8">
                <div class="category-thumb bg_cover" style="background-image: url({{page.second_image}});">
                    <div class="play-overlay">
                        <a class="video-popup" href="https://www.youtube.com/watch?v=YLoYt8H7kjM&list=RDYLoYt8H7kjM&start_radio=1"><i class="far fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="category-misson text-center d-flex align-items-center justify-content-center">
                    <div class="misson-item">
                        <img src="assets/images/mission-item.png" alt="mission">
                        <h4 class="title">Case Studies<br> & our Success</h4>
                        <p>We have great passion on serving other businesses,<br>helping on solving some of the crucial issues <br>when it comes to design and development</p>
                        <a class="main-btn" href="/success-stories">View Case Studies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section> 

<section class="requst-quote-area bg_cover pt-10" style="background-image: url({{page.post_image}}); margin-top: 0px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="requst-content text-center">
                    <h5 class="title">Step 2 of 2: Schedule a Free Call</h5>
           <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/cloudcontinuous/15-min?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
                </div>
            </div>
        </div>
    </div>
</section>
